### Logs ###########################################################################################
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Optional npm cache directory ###################################################################
.npm
.yarn-integrity

### Optional eslint cache ##########################################################################
.eslintcache

### Dependency Directories #########################################################################
/node_modules
/jspm_packages
/bower_components

### WebStorm #######################################################################################
/.idea
modules.xml
*.ipr
*.iml

### grunt ###
.grunt

### Visual Studio Code ###
.vscode

### System #########################################################################################
*.DS_Store
Icon?
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Circle CI #####################################################################################
.circleci

/playground/

### gh-pages cache ################################################################################
/.publish/