// This file is used by Rollup (Rollup does not use .babelrc in root)

{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
//  "plugins": [
//    ["@babel/plugin-proposal-class-properties", { "loose": true }]
//  ]
}
